@import url(https://fonts.googleapis.com/css?family=Lato:400,300,900,400italic,100);
* {
  box-sizing: border-box;
}

html, body {
  text-align: center;
  font-family: Lato, serif;
  font-weight: 300;
  line-height: 1.8em;
 /* margin: 0 auto;*/
  margin: 0;
  padding: 0;
  width: 100%;

}

h1,h2,h3,h4,h5,h6 {
  font-weight: 100;
  font-size: 2em;
}

/*h1 {
  font-size: 3em;
}*/

nav {
  height: 60px;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: 15px;
  text-align: center;
}

nav li {
    list-style: none;
    padding: 0 10px 0 10px;
    display: inline;
}

nav a {
  color: #FFF;
  text-decoration: none;
}

.inverse a {
  color: #FFF;
  text-decoration: none;
}

.hero {
  background-image: url(../images/surise_desert.jpg);
  background-size: cover;
  min-height: 600px;
  display: block;
  padding: 90px 50px 30px 50px;
}

.hero .introText {
  text-align: center;
  font-size: 130%;
  color: #FFF;
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
    left: auto;
  }
}

.grid {
  display: block;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  min-height: 40px; }
  @media (max-width: 960px) {
    .grid {
      width: 94%; } }
  .grid-fluid {
    width: 100%; }

.row {
  display: block;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px; }
  .row:after {
    content: " ";
    clear: both;
    display: table;
    line-height: 0; }

.col-1 {
  width: 6.33%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-1 {
      width: 98%; } }

.col-2 {
  width: 14.66%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-2 {
      width: 98%; } }

.col-3 {
  width: 22.99%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-3 {
      width: 98%; } }

.col-4 {
  width: 31.33%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-4 {
      width: 98%; } }

.col-5 {
  width: 39.66%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-5 {
      width: 98%; } }

.col-6 {
  width: 47.99%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-6 {
      width: 98%; } }

.col-7 {
  width: 56.33%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-7 {
      width: 98%; } }

.col-8 {
  width: 64.66%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-8 {
      width: 98%; } }

.col-9 {
  width: 72.99%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-9 {
      width: 98%; } }

.col-10 {
  width: 81.33%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-10 {
      width: 98%; } }

.col-11 {
  width: 89.66%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-11 {
      width: 98%; } }

.col-12 {
  width: 97.99%;
  display: inline-block;
  vertical-align: top;
  float: left;
  padding: 1%; }
  @media (max-width: 500px) {
    .col-12 {
      width: 98%; } }


.inverse {
  color: #FFF;
}

.feature {
  text-align: left;
  padding: 20px 20px;
  border-bottom: 1px solid #FFF;
}

.feature .left {
  width: 30%;
  float: left;
  display: inline-block;
}

.feature .left i {
  font-size: 75px;
  color: rgba(255, 255, 255, 0.2);
}

.feature .right {
  width: 90%;
  display: left;
  display: inline-block;
}

.feature .right:after {
  content: " ";
  clear: both;
}

.profile {
  background: url('../images/GAmyself.jpeg');
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
}

@media (max-width: 720px) {
    .feature .left {
    width: 100%;
    float: none;
    display: block;
  }

  .feature .right {
    width: 100%;
    display: none;
    display: block;
  }

  .feature {
    text-align: center;
  }

}

.text_main {
/*  background-image: url(../images/ocean.jpg);
  background-size: cover;*/
  /*display: inline-block;*/
/*  min-height: 500px;
  width: 100%;*/
  /*margin: 0 auto;
*/  
  position: absolute;
  top: 20%;
  left: 50%;

  -webkit-transform: translate(-25%, -25%);
  -moz-transform: translate(-25%, -25%);
  -ms-transform: translate(-25%, -25%);
  -o-transform: translate(-25%, -25%);
  transform: translate(-25%, -25%);
  
}

.about{
  margin-top: 30px;
}

.resumeTitle {
  text-align: left;
}


#resume#container {
  margin-top: 50px;
}


.devicons {
  font-size: 4em; 
}

.listUnits {
  font-weight: 400;
}

.fa-envelope-o {
  font-size: 75px;
  color: rgba(255, 255, 255, 0.2);
}

.fa-github {
  font-size: 3em;
}

.fa-linkedin {
  margin-left: 50px;
  font-size: 3em;
}

.cbp-so-side a {
  color: #db4848;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.gitLink {
  display: inline-block;
  margin-left: 70px;
}

.gitLink a {
  color: #db4848;
}

#artFift {
  width: 35%;
}

#artWork {
  width: 45%;
}

#artWork1 {
  width: 45%;
}


#artSkills, #artSkills1 {
  width: 45%;
}

#artFift1 {
  width: 60%;
}

#artFift .left {
  margin-left: 250px;
  margin-top: 25px;
}

#projects li {
  margin-left: 70px;
}





/*moving projects*/
/*.demo-3 {
    position:relative;
    width:300px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px
}
.demo-3 figure {
    margin:0;
    padding:0;
    position:relative;
    cursor:pointer;
    margin-left:-50px;

}
.demo-3 figure img {
    height: 200px !important;
    display:block;
    position:relative;
    z-index:10;
    margin:-15px 0
}
.demo-3 figure figcaption {
    display:block;
    position:absolute;
    z-index:5;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}
.demo-3 figure h2 {
    font-family:'Lato';
    color:#fff;
    font-size:20px;
    text-align:left
}
.demo-3 figure p {
    display:block;
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0;
    color:#fff;
    text-align:left
}
.demo-3 figure figcaption {
    top:0;
    left:0;
    width:100%;
    height:100%;
    padding:29px 44px;
    background-color:rgba(26,76,110,0.5);
    text-align:center;
    backface-visibility:hidden;
    -webkit-transform:rotateY(-180deg);
    -moz-transform:rotateY(-180deg);
    transform:rotateY(-180deg);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure img {
    height: auto;
    backface-visibility:hidden;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s
}
.demo-3 figure:hover img,figure.hover img {
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    transform:rotateY(180deg)
}
.demo-3 figure:hover figcaption,figure.hover figcaption {
    -webkit-transform:rotateY(0);
    -moz-transform:rotateY(0);
    transform:rotateY(0)
}

.demo-3 li {
  list-style-type: none;
}*/

.blackBG {
  background-color: rgba(40, 50, 62, 1.0);
}

.asphaltBG {
  background-color: rgba(52, 73, 94,1.0);
}

.blueBG {
  background-color: #56a2cf;
}

.veryBlackBG {
  background-color: #3c3c3f;
}

.projectImg {

}

.btn {
  font-family: 'Lato';
  font-size: 16;
  font-weight: 900;
  text-align: center;
  text-decoration: none !important;
  line-height: 28px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  cursor: hand;
  border-radius: 5px;
  color: #ffffff;
  background-color: #09a0f6;
  border: 0px; }
  .btn:hover {
    text-decoration: none; }
  .btn:hover {
    opacity: 0.8; }
  .btn-small {
    font-size: 14px;
    line-height: 20px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px; }
  .btn-big {
    font-size: 22px;
    line-height: 34px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px; }
  .btn-outline {
    font-family: 'Lato';
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    text-decoration: none !important;
    line-height: 28px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    cursor: hand;
    border-radius: 5px;
    color: #FFF;
    background-color: transparent;
    border: 1px solid #FFF; }
    .btn-outline:hover {
      text-decoration: none; }
    .btn-outline:hover {
      color: rgba(40, 50, 62, 1.0);
      background-color: #FFF; }



